* {
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: #88a78a;
}

.ui.basic.button.searchAddBtn {
  color: #88a78a !important;
  box-shadow: 0px 0px 0px 1px #88a78a inset !important;
}

.ui.fluid.input > input {
  text-align: center;
}

.ui.table [class*="single line"],
.ui.table[class*="single line"] {
  border: 0;
}

.add_table_artist {
  font-size: 100%;
}

.add_table_title {
  font-size: 160%;
}

.play {
  transform: translateX(1px);
}

.dimmer {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.ui.fluid.input > input {
  color: #88a78a;
}

.ui.fluid.input > input::selection {
  color: white;
  background: #88a78a; /* WebKit/Blink Browsers */
}

.ui.feed > .event:last-child > .content {
  margin-top: 0;
  margin-bottom: 0;
}

.ui.feed > .event > .content .summary {
  font-size: 120%;
  margin-bottom: 0.4em;
}

.ui.feed > .event > .label img {
  border-radius: 0;
}
